# =========================
# .NET / C#
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Environment variables
# =========================
.env

# =========================
# Build results
# =========================
publish/
dist/
out/

# =========================
# Rider / JetBrains
# =========================
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp